@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-wave-flowing {
  animation: waveFlow 10s linear infinite;
}

@keyframes waveFlow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
